.contacts {
    /*background: #d1fdc2;*/
    background: #252527;
    color: #fff;
}

.container {
    max-width: 1240px;
    width: 80%;
    margin: 0 auto;
    /*border: 1px solid;*/
    display: flex;
    flex-direction: column;
    align-self: center;
}

.container h3, .container h4 {
    display: flex;
    justify-content: center;
    position: relative;
    text-transform: capitalize;
    font-weight: 700;
    line-height: 1.2;
    font-family: 'Josefin Sans', sans-serif;
}

.container h3 {
    margin-top: 70px;
    margin-bottom: 80px;
    font-size: 1.875em;
    letter-spacing: 5px;
}

.container h3:after, .container h4:after {
    content: '';
    display: block;
    background: #e9548d;
    width: 55px;
    height: 1px;
    position: absolute;
    bottom: -30px;
    left: 50%;
    right: 50%;
    transform: translate(-50%, -50%);
}

.contact {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0 calc(50% - 310px);
    margin: 0 15px;
}

.container h4 {
    margin-top: 50px;
    margin-bottom: 60px;
    font-size: 1.25em;
    text-align: center;
    letter-spacing: 3px;
}